@{
    ViewBag.Title = "وصول غير مصرح به";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
            <h1 class="display-1 fw-bold">403</h1>
            <h1 class="mb-4">وصول غير مصرح به</h1>
            <p class="mb-4">
                عذراً، أنت لا تملك الصلاحيات اللازمة للوصول إلى هذه الصفحة.
                الرجاء التواصل مع مدير النظام إذا كنت تعتقد أن هذا خطأ.
            </p>
            <p class="mb-4">
                قم بتسجيل الخروج ومن ثم اعادة الدخول مرة اخرى
                
            </p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="@Url.Action("Index", "Home", new { area = "Admin" })">العودة إلى الصفحة الرئيسية</a>
        </div>
    </div>
</div>

